/* Inspiration https://www.geckoboard.com/ */
html {
  font-size: 16px;
  margin: 0; }

body {
  line-height: 1.5;
  font-size: 62.5%;
  height: 100%; }

#navbar {
  transition: 600ms ease; }

#header_image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../public/newYork.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover; }

.masthead {
  height: 100vh;
  width: 100vw;
  position: relative; }
  .masthead h1.ui.header, .masthead h2.ui.header {
    position: relative;
    top: 38vh;
    text-align: center;
    color: white;
    font-size: 5.5em;
    font-weight: 200; }
  .masthead #catch_phrase {
    font-weight: 150;
    margin-top: -0.25em;
    font-size: 2em;
    font-style: italic; }
    .masthead #catch_phrase span {
      font-weight: bold; }
  .masthead .down_arrow {
    height: 4em;
    width: 4em;
    border-radius: 2em;
    border: 2px solid white;
    text-align: center;
    position: relative;
    top: 32vh;
    margin: auto;
    margin-top: 8em; }

.info h2.ui.section.header {
  font-weight: 600;
  margin-top: 1.5em; }
.info h2.ui.header {
  margin-top: 2em;
  font-size: 4em;
  font-weight: 500; }
.info .ui.centered.grid {
  margin: auto;
  height: 100%; }
.info #products_grid {
  max-width: 1000px; }
  .info #products_grid h2.ui.header.logo_title {
    margin-top: 0;
    font-size: 3em; }
    .info #products_grid h2.ui.header.logo_title span {
      font-weight: bold; }

p {
  font-size: 1.6em;
  line-height: 1.5; }

.products.info {
  padding-bottom: 3em; }

#oneShare {
  margin-top: 5em; }

#mobile_oneShare {
  display: none; }

.ui.centered.grid {
  max-width: 1400px; }

.about.info {
  background-color: #ecf0f1; }
  .about.info i.fa.fa-info-circle {
    margin-right: 0.2em; }
  .about.info h2.ui.centered.header {
    font-size: 4em; }
  .about.info .four.wide.column.award {
    text-align: center; }

img.ui.tiny.image {
  display: inline-block; }

.ui.fixed.aboutus.image {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  margin-top: -2em; }

#quote {
  font-size: 3em;
  margin-top: 0; }

h3.horizontal.divider {
  margin-top: 3.5em;
  margin-bottom: 2.5em; }

h2.ui.icon.header {
  font-size: 2em; }

#web_dev {
  text-align: center; }

.content {
  font-weight: bold; }

i {
  font-weight: bold; }

.contact.info .ui.stacked.raised.segment {
  max-width: 700px;
  margin: 40px auto;
  margin-top: 10em; }
  .contact.info .ui.stacked.raised.segment input {
    margin-top: 0.5em; }
  .contact.info .ui.stacked.raised.segment textarea {
    resize: none;
    margin-top: 0.5em; }
  .contact.info .ui.stacked.raised.segment p {
    text-align: center;
    color: rgba(0, 0, 0, 0.6); }
  .contact.info .ui.stacked.raised.segment .ui.green.fluid.button {
    margin-top: 20px; }

#mobile_send {
  display: none; }

.description {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 0.4em;
  margin-bottom: 1.5em;
  margin-left: 1em; }

footer {
  width: 100vw;
  height: 5em;
  background-color: #343235;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: flex-end; }
  footer p {
    font-size: 1.2em;
    margin-left: 2em; }
  footer span {
    margin-left: 20px; }

.ui.modal p {
  font-size: 1.2em; }

@media screen and (max-width: 600px) {
  #navbar div.right.menu {
    display: none; }

  #mobile_oneShare {
    display: inline-block;
    margin-top: -20px; }

  #desktop_oneShare {
    display: none; }

  #mobile_send {
    display: block; }

  #desktop_send {
    display: none; }

  #message {
    margin-top: -5px; } }

/*# sourceMappingURL=style.css.map */
