$brand_color: #6BEC8A
/* Inspiration https://www.geckoboard.com/ */
html
	font-size: 16px

body 
	line-height: 1.5
	font-size: 62.5% //1em is equal to 10px b/c of this trick

#header_image 
	background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .7)), url('../public/lake.jpeg')
	height: 100%
	width: 100%
	background-size: cover

.masthead
	height: 100vh
	width: 100vw	
	position: relative

	h1.ui.header, h2.ui.header 
		position: relative
		top: 40vh
		text-align: center
		color: white
		font-size: 5.5em

	#catch_phrase
		font-weight: 150
		margin-top: -.25em
		font-size: 2em

	.down_arrow
		height: 4em
		width: 4em
		border-radius: 2em
		border: 2px solid white
		text-align: center
		position: relative
		top: 40vh
		margin: auto
		margin-top: 8em

.info
	width: 100vw
	h2.ui.header 
		margin-top: 2em
		font-size: 4em

	.ui.centered.grid
		margin: auto 
		height: 100%

	#products_grid
		max-width: 1000px

		h2.ui.header.logo_title
			margin-top: 0

	p 
		margin-top: 10px

p
	font-size: 1.6em
	line-height: 1.5

#bumpshare
	margin-top: 5em
	// background-color: #ecf0f1	
	
.about.info
	background-color: #ecf0f1

	h2.ui.centered.header 
		padding-top: 2em
		font-size: 4em

	.ui.fluid.aboutus.image
		max-width: 300px
		border-radius: 50%
		float: right

	.four.wide.column.award
		text-align: center
	
	#awards
		margin-top: 0em

	.description
		margin-left: 1em
		font-size: 16px

.ui.award.image
	display: inline-block
	height: 5vw
	width: 5vw
	border-radius: 50%

.contact.info
			
	.ui.stacked.segment
		max-width: 800px
		margin: 0 auto
		padding-top: 40px
		margin-top: 100px
		margin-bottom: 50px
		
		h2.ui.header
			margin: 0em

		.ui.input
			margin-top: 30px
			margin-bottom: 0

		.eight.wide.column
			display: flex
			flex-direction: column
			justify-content: center

			input
				font-size: 18px

		textarea
			width: 100%
			margin-top: 30px
			height: 200px
			border-radius: 4px
			border: 1px solid rgba(34,36,38,.15)
			resize: none
			float: right
			font-size: 18px
			padding: 10px

		button.ui.green.button
			margin-top: 30px
			margin-right: 0px