$brand_color: #6BEC8A
$logo_color: #182ad5
$gray: #ecf0f1
$secondary-color: rgba(0,0,0,.6)
/* Inspiration https://www.geckoboard.com/ */
html
	font-size: 16px
	margin: 0


body 
	line-height: 1.5
	font-size: 62.5% //1em is equal to 10px b/c of this trick
	height: 100%

#navbar 
	transition: 600ms ease

#header_image 
	background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .7)), url('../public/NY2.jpg')
	height: 100vh
	width: 100vw
	background-size: cover

.masthead
	height: 100vh
	width: 100vw	
	position: relative

	h1.ui.header, h2.ui.header 
		position: relative
		top: 38vh
		text-align: center
		color: white
		font-size: 5.5em
		font-weight: 200
		
	#catch_phrase
		font-weight: 150
		margin-top: -.25em
		font-size: 2em
		font-style: italic

		span 
			font-weight: bold 

	.down_arrow
		height: 4em
		width: 4em
		border-radius: 2em
		border: 2px solid white
		text-align: center
		position: relative
		top: 32vh
		margin: auto
		margin-top: 8em

.info
	
	h2.ui.section.header 
		font-weight: 600
		margin-top: 1.5em

	h2.ui.header 
		margin-top: 2em
		font-size: 4em
		font-weight: 500

	.ui.centered.grid
		margin: auto 
		height: 100%

	#products_grid
		max-width: 1000px

		h2.ui.header.logo_title
			margin-top: 0
			font-size: 3em
		
			span 
				font-weight: bold
	// p 
	// 	margin-top: 10px

p
	font-size: 1.6em
	line-height: 1.5

.products.info
	padding-bottom: 3em

#bumpshare
	margin-top: 5em
	// background-color: #ecf0f1	
	
#mobile_bumpshare
	display: none	

.ui.centered.grid 
	max-width: 1400px

.about.info
	background-color: $gray

	i.fa.fa-info-circle
		margin-right: .2em

	h2.ui.centered.header 
		font-size: 4em

	.four.wide.column.award
		text-align: center
	
img.ui.tiny.image 
	display: inline-block

.ui.fixed.aboutus.image
	height: 500px
	width: 500px
	border-radius: 50%
	margin-top: -2em

#quote
	font-size: 3em
	margin-top: 0

h3.horizontal.divider 
	margin-top: 3.5em	
	margin-bottom: 2.5em

h2.ui.icon.header
	font-size: 2em

#web_dev
	text-align: center	

.content 
	font-weight: bold

i 	
	font-weight: bold	

.contact.info

	.ui.stacked.raised.segment
		max-width: 700px
		margin: 40px auto
		margin-top: 10em

		input
			margin-top: .5em 

		textarea
			resize: none
			margin-top: .5em
  
		p
			text-align: center
			color: $secondary-color
	  
		.ui.green.fluid.button
			margin-top: 20px	

#mobile_send
	display: none

.description
	font-size: 1.2em
	font-weight: bold
	margin-top: .4em
	margin-bottom: 1.5em
	margin-left: 1em 

footer 
	width: 100vw
	height: 5em
	background-color: #343235
	color: white 
	display: flex 
	align-items: center 
	flex-direction: flex-end
	
	p 
		font-size: 1.2em
		margin-left: 2em

	span
		margin-left: 20px	

.ui.modal 
	p 
		font-size: 1.2em

@media screen and (max-width: 600px)
	#header_image
		// background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .7)), url('../public/e-logo.svg')
		// height: 100vh
		// width: 100vw
		// background-size: cover 

	#navbar
		div.right.menu
			display: none
	
	#mobile_bumpshare
		display: inline-block
		margin-top: -20px

	#desktop_bumpshare
		display: none		

	#mobile_send
		display: block 

	#desktop_send
		display: none			

	#message
		margin-top: -5px
